@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Rubik:wght@400;700&display=swap');
.container{
    text-align: center;
}
.card_home{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    border: 100px;
    margin-left: 100px;
}