/* 
    General Styles
    fuentes:
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik', sans-serif;

    color
    Color fondo negro
    Color principal azul #004F79
    Color de fuente blanco o negro según fondo
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Rubik:wght@400;700&display=swap');

.container{
    text-align: center;
}
.playfair{
    font-family: 'Playfair Display', serif;    
}
.rubik{
    font-family: 'Rubik', sans-serif;    
}
.navbar_dark{
    background-color: #0000;
}

.titulo{
    font-family: 'Playfair Display', serif;
    margin-bottom:20px; 
    padding-left: 137px;
}
.suscribete_title{
    font-family: 'Playfair Display', serif;
    margin-bottom:20px; 
    padding-left: 53px;
}
.mediaplans_title{
    font-family: 'Playfair Display', serif;
    margin-bottom:20px; 
    margin-left: -59px;
    margin-top: -3px;
}
.perfil_title{
    font-family: 'Playfair Display', serif;
}
.banner_pequeño{
    height: 160px;
    width: 260px;
    margin-top: 30px;
    margin-left: 30px;
}

.banner_grande{
    height: 360px;
    width: 260px;
    margin-bottom: 15px;
}

.card_ediciones{
    min-width: 311px;
    min-height: 300px;
    max-width: 228px;
    border: none;
    margin-left: 106px;
}

.paginacion{
    margin-left: 562px;
    display: flex;
}

.btn{
    margin: 10px;
}

.filtro_fechas{
    width: 240px;
    margin-top: 30px
}

.perfil{
    text-align: center;
}

.imagen_de_perfil{
    border-radius: 100%;
}

.datos_perfil{
    display: inline-grid;
}

.input_datos{
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: #004F79;
}
.input_img_perfil{
    width: 500px;
    height: 40px;
    margin-top: 10px;
    margin-left: 304px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: #004F79;
}
.nombre_dato{
    font-family: 'Rubik', sans-serif;
    text-align: left;
}

.card_suscripcion{
    width: 500px;
    padding: 50px;
}

.planes{
    display: inline-flex;
    padding-left: 5%;
}

.perfil_navbar{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 25px;
}

.logo_navbar{
    width: 270px;
    margin-right: 30px;
    margin-bottom: -8px;
    margin-top: -8px;
}

.card-body{
    align-self: center;
    text-align: center;
}
.logo_footer{
    background: white;
    width: 230px;
    margin-right: 30px;
    margin-top: 25px;
}
.footer{
    background: black;
    height: 600px;
}
.footer_contact_title{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #666;
}
.footer_contact{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #666;
    margin: 0;
}
.formulario{
     float:left;
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   margin:auto;
   text-align:left;
}
